
<h1>Home Sample App</h1>
<p>
This is the homepage for the <a href="http://railtutorial.org">Ruby on Rails tutorial</a> sample tutorial.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>



